
<div class="jumbotron" >
    <h1 class="text-danger" style="accent-color=red">Hakkımızda</h1>
    <p class="lead, text-warning"">Türkiye’deki faaliyetlerine 1995 yılında ATA Grubu’na bağlı TAB Gıda Sanayi A.Ş’nin ülkedeki ana geliştirici ve üretici haklarını alarak bünyesine katmasıyla başlayan dünyanın en sevilen markalarından BOY King®️, kısa sürede tüketicilerin beğenisi ve sadakatini kazanarak restoran sayısını istikrarlı bir şekilde çoğaltmıştır. Bugün Türkiye’de de hızlı servis sektörünün lider markalarından biri olan “alevde ızgara ateşinin kralı” BOY King®️, ülke genelinde 700’den fazla restoranıyla hizmet vermektedir.</p>
    <hr class="my-4">
    <p class="text-warning">
        Türkiye’deki faaliyetlerine 1995 yılında ATA Grubu’na bağlı TAB Gıda Sanayi A.Ş’nin ülkedeki ana geliştirici ve üretici haklarını alarak bünyesine katmasıyla başlayan dünyanın en sevilen markalarından BOY King®️, kısa sürede tüketicilerin beğenisi ve sadakatini kazanarak restoran sayısını istikrarlı bir şekilde çoğaltmıştır. Bugün Türkiye’de de hızlı servis sektörünün lider markalarından biri olan “alevde ızgara ateşinin kralı” Burger King®️, ülke genelinde 700’den fazla restoranıyla hizmet vermektedir.

        Uluslararası kalite standartlarında üretim, hijyen ve hizmetten ödün vermeyen, TAB Gıda güvencesiyle Türkiye genelinde hizmet veren BOY King®️, Türkiye’deki markalaşma yolculuğunda sayısız başarıya imza atmıştır.
    </p>
    
</div>
