<body>
    <div class="container-fluid">
        <div class="row">
            <div class="bg-primary col-md-6">
                <img src="https://www.burgerking.com.tr/cmsfiles/products/whopper-menu.png?v=314" />
                <h3>Whooper Burger Menu</h3>
                <h1>120 TL</h1>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="bg-success">
                        <img src="https://www.burgerking.com.tr/cmsfiles/products/tavukburger-menu.png?v=314" />
                        <h3>Tavuk Burger Menu</h3>
                        <h1>100 TL</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="bg-warning">
                        <img src="https://www.burgerking.com.tr/cmsfiles/products/double-texas-smokehouse-burger-menu.png?v=314" />
                        <h3>Double Texas Smokehouse Burger Menu</h3>
                        <h1>150 TL</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




