@using Microsoft.AspNetCore.Identity
@using BurgerOrderEntity.Concrete


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurgerOrderMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BurgerOrderMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BurgerOrderMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Hakkinda" asp-action="Index">Hakkımızda</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Sipariş</a>
                                <ul class="submenu">
                                    <li><a class="nav-link text-dark" asp-controller="Order" asp-action="AddOrder">Sipariş Ver</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a class="nav-link text-dark" asp-controller="Order" asp-action="List">Tüm Siparişleri Listele</a></li>
                                    }
                                    <li><a class="nav-link text-dark" asp-controller="Order" asp-action="List2">Siparişleri Listele</a></li>
                                </ul>
                            </li>
                        }
                        
                        @if (User.IsInRole("Admin"))
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Menu</a>
                                <ul class="submenu">
                                    <li><a class="nav-link text-dark" asp-controller="Menu" asp-action="Create">Menu Ekle</a></li>
                                    <li><a class="nav-link text-dark" asp-controller="Menu" asp-action="List">Menuleri Listele</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Extralar</a>
                                <ul class="submenu">
                                    <li><a class="nav-link text-dark" asp-controller="Extra" asp-action="Create">Menu Ekle</a></li>
                                    <li><a class="nav-link text-dark" asp-controller="Extra" asp-action="List">Menuleri Listele</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 Tüm Hakları Saklıdır - BurgerOrderMVC - MVC Maraton Projesi - Berk Alp Direm / Yaşar Yıldırım / İlker Ozan Ulus 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
