@using BurgerAppDtos.Concrate

@model UserRegisterDto

<h2>User Form</h2>

<form asp-action="Register" method="post">
    <div>
        <label for="UserName">Username:</label>
        <input type="text" name="UserName" id="UserName" asp-for="UserName" class="form-control" />
        <span class="text-danger"  asp-validation-for="UserName"></span>
    </div>
    <div>
        <label for="Name">Name:</label>
        <input type="text" name="Name" id="Name" asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label for="SurName">SurName:</label>
        <input type="text" name="SurName" id="SurName" asp-for="SurName" class="form-control" />
        <span class="text-danger" asp-validation-for="SurName"></span>
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" asp-for="Email" name="Email" id="Email" class=" form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" name="Password" asp-for="Password" id="Password" class="form-control" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="btn btn-primary">Üye Ol</button>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



}
